<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .button {
        display: flex;
        justify-content: center;
    }
    label {
        cursor: pointer;
        font-size: 1em;
    }
    #chooseFile {
        visibility: visible;
    }
</style>
<body>
    <form method="post" action="https://port-0-image-api-server-19k5ygi525lcvywf5c.gksl2.cloudtype.app/images" enctype="multipart/form-data" target="blankifr">
        <div class="button">
            <label for="chooseFile">
                👉 CLICK HERE! 👈
            </label>
            <input type="file" id="chooseFile" name="file" accept="file/*">
            <input type="submit" class="button" value="업로드" onclick="document.location.href='https://port-0-image-api-server-19k5ygi525lcvywf5c.gksl2.cloudtype.app/images/lists'">
        </div>
    </form>
    <iframe name='blankifr' style='display:none;'></iframe>
</body>
</html>